<table>
  <tr>
    <td colspan="3">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/clothes/{{item.clothes.id}}">
        <img [src]="item.clothes.imageUrl" />
      </a>
    </td>
    <td>
      {{item.clothes.name}}
    </td>
    <td colspan="1">
      &#8369; {{item.price}}
    </td>
  </tr>
  <tr>
    <td colspan="1"></td>
    <td colspan="5">
      <strong>Total:</strong>
    </td>
    <td colspan="4">
      <strong>&#8369;{{order.totalPrice}}</strong>
    </td>
  </tr>
</table>
